---
// @ts-nocheck
const { project } = Astro.props;
---

<div class="info-container">
  <div class="portfolio-center">
    <h1 class="portfolio-title">{project.project_title}</h1>
  </div>
  <div class="portfolio-underline"></div>

  <h2>{project.project_category}</h2>
  <h3>{project.project_h3}</h3>

  <p>
    {
      project.project_description.split("\n").map((line, index) => (
        <>
          {line}
          <br />
        </>
      ))
    }
  </p>

  <div class="watch-button-wrapper">
    <a
      href={project.project_watch}
      target="_blank"
      rel="noopener noreferrer"
      class="watch-button underline-animation"
    >
      Se projektet her
    </a>
  </div>

  <div class="image-wrapper">
    <img
      class="project-image"
      src={project.project_photo}
      alt={project.project_title}
    />
    <img
      class="glow-background"
      src="/src/assets/img/glow.webp"
      alt=""
      aria-hidden="true"
    />
  </div>
</div>

<style>
  .info-container {
    padding: 0 16px;
  }

  .portfolio-center {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  .portfolio-title {
    margin-bottom: 8px;
    font-size: 3rem;
    text-align: center;
  }

  .portfolio-underline {
    height: 2px;
    background-color: var(--primary-color);
    width: 100%;
    margin-bottom: 32px;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 16px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 32px;
    line-height: 1.6em;
  }

  .watch-button-wrapper {
    text-align: center;
    margin: 48px 0 80px;
  }

  .watch-button {
    font-size: 1.8rem;
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    transition: color 0.2s ease;
  }

  .watch-button::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }

  .watch-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 24px auto 96px;
  }

  .project-image {
    width: 100%;
    border: 3px solid var(--primary-color);
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .glow-background {
    position: absolute;
    width: 140%;
    transform: rotate(2.5deg);
    z-index: 0;
    pointer-events: none;
    opacity: 0.9;
  }

  @media (min-width: 768px) {
    .info-container {
      margin: 0 64px;
    }

    .portfolio-underline {
      margin: 0 auto 32px;
    }

    .image-wrapper {
      min-width: 60%;
      margin-bottom: 112px;
    }
  }
</style>
